<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!--[if lt IE 9]>
  	<script src="bower_components/dist/html5shiv.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header class="header container-fixed">
	@@include('partial/header.html')		
</header>	
<aside class="aside container">
	
</aside>
<main class="main container">
	
</main>
<footer class="footer container-fluid">
		
</footer>
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.12'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>