.l-main--scrollable {
	padding-top: 46px;
	overflow-y: scroll;
}
.l-aside {
	min-height: 90vh;
}

.header {
	position: fixed;
	z-index: 9; // less than 10 z-index of mask layer
	
	width: 100%;
	height: 46px;
	line-height: 46px;
	vertical-align: middle;

	background-color: #1f1f1f;

	.header__logo {
		height: 100%;
	}
	.logo__image {
		object-fit: contain;
		height: 100%;
		width: 100%;
	}

	.profile__avatar {
		margin-right: 10px;
	}
	.profile__username,
	.profile__icon {
		color: #999;
	}
	
	.menu__link{
		text-indent: .25em;
	}
	.menu__icon {
		margin-right: 10px;
	}

	.dropdown-hover {
		display: inline-block;	
	}
}
