@import url('./var.less');
.create-role-head {
  height:40px;
  line-height:40px;
  background-color: @dark-blue;
  padding-left: 20px;
  color: #fff;
}
.tab-content-box {
  margin-top: 20px;
  padding: 10px;
}
.institution-tree-list {
  li {
    cursor: pointer;
  }
}
#treeExamples {
  display: none;
}
#tabContent2 {
  padding-left: 50px;
}