.header {
  height: 46px;
  line-height: 46px;
  vertical-align: middle;
  background-color: #1f1f1f;
}
.header .header__logo {
  height: 100%;
}
.header .logo__image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.header .profile__avatar {
  margin-right: 10px;
}
.header .profile__username,
.header .profile__icon {
  color: #999;
}
.header .menu__link {
  text-indent: .25em;
}
.header .menu__icon {
  margin-right: 10px;
}
.header .dropdown-hover {
  display: inline-block;
}
