<div class="header__logo col-sm-2 pull-left">
	<img src="/images/logo.png" alt="圆舟xSimple" class="logo__image" data-object-fit="contain">
</div>
<div class="header__menu col-sm-2 pull-right">
	<div class="dropdown dropdown-hover pull-right">
		<div class="header__profile" data-toggle="dropdown">
			<img src="/images/avatar.jpg" alt="头像" class="img-circle profile__avatar">
			<span class="profile__username">管理员</span>
			<i class="profile__icon icon-chevron-down"></i>
		</div>
		<ul class="dropdown-menu">
			<li>
				<a href="javascript:void(0)" class="menu__link"><i class="menu__icon icon-lock"></i>修改密码</a>
			</li>
			<li>
				<a href="javascript:void(0)"><i class="menu__icon icon-signout"></i>我要退出</a>
			</li>
		</ul>	
	</div>
</div>