<nav class="aside l-aside content__item menu pull-left">
	<button type="button" class="btn btn--menu pull-right"><i class="icon icon-bars"></i></button>
	<ul class="nav" id="nav">		
    <li class="nav__level0"><a href="javascript:;"><i class="icon icon-home"></i>首页</a></li>
    <li class="nav__level0"><a href="javascript:;"><i class="icon icon-cogs"></i>系统设置</a></li>
    <li class="nav__level0 nav-parent">
      <a href="javascript:;"><i class="icon icon-time"></i> Time</a>
      <ul class="nav">
        <li><a href="javascript:;">Today</a></li>
        <li><a href="javascript:;">Tomarrow</a></li>
        <li><a href="javascript:;">Yestorday</a></li>
        <li><a href="javascript:;">This Week</a></li>
      </ul>
    </li>
    <li class="nav__level0"><a href="javascript:;"><i class="icon icon-trash"></i> Trash</a></li>
    <li class="nav__level0"><a href="javascript:;"><i class="icon icon-list-ul"></i> All</a></li>
    <li class="nav__level0 active show nav-parent">
      <a href="javascript:;"><i class="icon icon-tasks"></i> Status</a>
      <ul class="nav">
        <li><a href="javascript:;"><i class="icon icon-circle-blank"></i> Ready</a></li>
        <li class="active"><a href="javascript:;"><i class="icon icon-play-sign"></i> Ongoing</a></li>
        <li><a href="javascript:;"><i class="icon icon-ok-sign"></i> Completed</a></li>
      </ul>
    </li>
  </ul>
</nav>