<div class="page-content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <header class="home-header">
        xSimple<span class="small-text">移动管理平台</span>
      </header>
      <ol class="breadcrumb">
        <li><a href="your/url/"><i class="icon icon-home"></i>主页</a></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6">
      <div class="check-role">
        <div class="check-role-des check-des">
          17个角色
        </div>
        <a href="" class="check-role-link">
          查看角色 <i class="icon icon-hand-right"></i>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
      <div class="check-user">
        <div class="check-user-des check-des">
          64个用户
        </div>
        <a href="" class="checl-user-link">
          查看用户 <i class="icon icon-hand-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row  app-download-box">
    <div class="col-md-12 col-sm-12 col-lg-12 clearfix">
      <i class="icon icon-bar-chart-alt"></i><span class="download-text">应用下载量</span>
      <span class="device-icon device-icon-ios pull-right">ios</span>
      <span class="device-icon device-icon-android pull-right">android</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="home-chart-contain">
        <canvas id="home-chart" class="home-chart"></canvas>
      </div>
    </div>
  </div>
</div>